<html>
  <head>
  </head>     
  <body>
    <div class="form-style-2">
      <div class="form-style-2-heading">Cadastro de Novas Corridas</div>
          <%= render  "form" %>
        </div>
      </div>
    </div>
  </body>
</html>  