<div class="form-style-9">
  <h1>Cadastro</h1>
  <ul>
      <li><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> - <%= link_to "Motoristas", drivers_path %></li>
      <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span> - <%= link_to "Passageiros", passengers_path %></li>
      <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span> - <%= link_to "Corridas", races_path %></li>
      
  </ul>
  </div>